<div class="corpo-cadastro">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>
                    <!-- COLOCAR TITULO DE PIZZA OU GERENCIAR PIZZAS DPS CRIAR PANEL PARA CADA CAMPO, CADASTRO, ATERAÇÃO E LISTA -->
                    Pizzas
                </h2>
            </div>
            <div class="panel-body">
                {AVISO}
                <form id="fmr-principal" name="fmr-principal" action="" method="post">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Pizza:" required/><br>
                    <input type="text" class="form-control" id="sabor" name="sabor" placeholder="Sabor:" required/><br>
                    <input type="number" class="form-control" id="valor" name="valor" placeholder="Valor:" required/><br>
                    <button type="submit" class="btn btn-primary" id="bto-cadastrar" name="bto-cadastrar" value="cadastrar">
                        Cadastrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>