<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select Delivery</title>
    <link rel="stylesheet" href="../assets/_css/style.css">

    <link rel="icon" href="../assets/_img/logo.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>

<body>
<header class="header">
    <div class="container">
        <div class="col-lg-10 col-md-10">
            <span class="logoDelivery">Select Delivery</span>
        </div>
        <div class="col-md-2">
            <a href="http://localhost/select-delivery/views/php/PedidoView.php">Pedido</a>
            <a href="http://localhost/select-delivery/views/php/PizzaView.php">Pizza</a>
            <a href="http://localhost/select-delivery/views/php/ProdutoView.php">Produto</a>
        </div>
    </div>
</header>

<div class="container">

    {CONTEUDO}

    {LISTA}

</div>

<footer class="footer">
    <div class="container">
        <p>Powered by
            <u>LDM Solutions</u>
        </p>
    </div>
</footer>

<script src="../assets/_js/pedido.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/_js/form.js"></script>
<script src="../assets/_js/login.js"></script>
</body>

</html>