<div class="col-md-12">
    <h2>Dados do Pedido</h2>
    <hr>
    <div class="col-md-4 ajusteTxt">
        <select name="tamanho-pizza" id="tamanho-pizza" required>
            <option value="">Tamanho:</option>
            <option value="0">Pequena</option>
            <option value="1">Media</option>
            <option value="2">Grande</option>
        </select>

        <select name="" id="select-pizza">
            <option value="">Pizza:</option>
            <option id="valor-pizza"></option>
        </select>

        <button class="btn btn-primary ajustarBotao" id="add-pizza">Adicionar Pizza</button>

        <select name="" id="select-produto">
            <option value="">Produto:</option>
            <option id="valor-produto"></option>
        </select>
        <input type="text" class="form-control ajusteTxtPedido" placeholder="Comentário:">
        <button class="btn btn-primary ajustarBotao" id="add-produto">Adicionar Produto</button>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            Resumo do pedido:
            <hr> Taxa de entrega:
        </div>
    </div>
</div>