<div class="col-md-12">
    <h2>Dados do Pedido</h2>
    <hr>
    <div class="col-md-4 ajusteTxt">

        <!--
        <select name="tamanho-pizza" id="tamanho-pizza" required>
            <option value="">Tamanho:</option>
            <option value="0">Pequena</option>
            <option value="1">Media</option>
            <option value="2">Grande</option>
        </select>
        -->

        <select name="" id="select-pizza">
            <option value="0">Pizza:</option>
            <!-- BEGIN BLOCK_PIZZA -->
            <option id="valor-pizza" value="{VALOR_PIZZA}">{PIZZA}</option>
            <!-- END BLOCK_PIZZA -->
            <option></option>
            <!-- FINALLY BLOCK_PIZZA -->
        </select>

        <input id="qtd-pizza" type="number" placeholder="Quant.:" value="1" min="1" max="100">

        <button class="btn btn-primary ajustarBotao" id="add-pizza"
                onclick="adicionar(selectPizza, resumoPizza, qtdPizza)">Adicionar Pizza
        </button>

        <select name="" id="select-produto">
            <option value="">Produto:</option>
            <!-- BEGIN BLOCK_PRODUTO -->
            <option id="valor-produto" value="{VALOR_PRODUTO}">{PRODUTO}</option>
            <!-- END BLOCK_PRODUTO -->
            <option></option>
            <!-- FINALLY BLOCK_PRODUTO -->
        </select>

        <input id="qtd-produto" type="number" placeholder="Quant.:" value="1" min="1" max="100">

        <button class="btn btn-primary ajustarBotao" id="add-produto" value="addProduto"
                onclick="adicionar(selectProduto, resumoProduto, qtdProduto)">Adicionar Produto
        </button>

        <select id="tipo-pagamento">
            <option value="">Pagamento:</option>
            <option value="0">Dinheiro</option>
            <option value="1">Cartão Débito</option>
            <option value="2">Cartão Crédito</option>
        </select>

        <input id="comentario" type="text" class="form-control ajusteTxtPedido" placeholder="Comentário:">

    </div>

    <div class="col-md-5">
        <div id="resumo-pedido" class="panel panel-default">
            Resumo do pedido:
            <table class="table">
                <thead>
                <tr>
                    <th>Pizza</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>
                </thead>
                <tbody id="resumo-pizza">

                </tbody>
            </table>
            <table class="table">
                <thead>
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>
                </thead>
                <tbody id="resumo-produto">

                </tbody>
            </table>
            <hr>
            Total a pagar: <span id="total-pagar"></span>
            <hr>
            Tipo de pagamento: <span id="tipo-pag-selected"></span>
        </div>
    </div>
</div>